
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Rubik";
    font-weight: 400;
    src: url('./fonts/rubik-v26-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/rubik-v26-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Rubik";
    font-weight: 500;
    src: url('./fonts/rubik-v26-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/rubik-v26-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

:root {


}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Rubik", "Arial", sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    display: block;
    height: auto;
}

.site-main {
    flex-grow: 1;
}

.visually-hidden {
    visibility: hidden;
}

                /*    Header section    */
.site-header {
    background-color: #f6f6f6;
}

.header__wrapper {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-link {
    margin-right: 35px;
}

.header__span {
    display: flex;
    line-height: 19px;
    font-weight: 700;
    color: #2959ce;
    margin-right: 25px;
}

.last {
    margin-right: 247px;
}

.header__input {
    margin-right: 25px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 41px;
    background-color: #fff;
    border: none;
    border-radius: 60px;
}

.header__checkbox {
    margin-right: 75px;
}

.header__link {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    background-color: #7296EC;
    border-radius: 10px;
    text-decoration-line: none;
}

.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 0;
    list-style: none;
}

.nav__link {
    display: inline-block;
    margin-right: 34px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    text-align: center;
    color: #7f7f7f;
    text-decoration: none;
}

.nav__link:nth-child(10) {
    margin-right: 0;
}

            /*   Site-aside    */
.site-aside {
    padding-top: 40px;
    padding-bottom: 50px;
    border-radius: 8px;
}

.site-aside__wrapper {
    display: flex;
    justify-content: center;
}

              /*    Hero section  */
.hero {
    padding-bottom: 60px;
}

.hero__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.hero__items {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 18px 10px;
    background-color: #f6f6f6;
    border: 1px solid #fff;
    border-radius: 15px;
}

.hero__items:nth-child(3) {
    margin-right: 0;
}

.hero__items:last-child {
    margin: 0;
}

.hero__textbox {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.hero__title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}

.hero__text {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 22px;
    color: #4a4b4c;
}

.hero__img {
    max-width: 359px;
    width: 100%;
    height: 165px;
    margin: 0 auto;
}

.hero__mini-wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.hero__logo {
    margin-right: 10px;
}

.hero__span {
    font-size: 12px;
    line-height: 14px;
    color: #5e5f61;
}

                /*  Second asided  */
.second-aside {
    padding-bottom: 108px;
    padding-left: 120px;
}

         /*  Cards  */
.card {
    padding-bottom: 100px;
}

.card__outer {
    display: flex;
}

.card__title {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.card__inner {
    margin-right: 10px;
}

.card__list {
    margin-top: 0;
    margin-bottom: 17px;
    padding-left: 0;
    list-style-type: none;
}

.card__items {
    display: flex;
    width: 797px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 17px;
    background-color: #f6f6f6;
    border-radius: 15px;
}

.card__items:last-child {
    margin-bottom: 17px;
}

.card__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}

.card__text {
    margin-top: 0;
    line-height: 22px;
    color: #4a4b4c;
}

.card__mini-wrapper {
    display: flex;
    align-items: center;
}

.card__span {
    margin-left: 10px;
}

.card__link {
    display: inline-block;
    padding: 17px 343px;
    font-weight: 500;
    line-height: 19px;
    color: #000;
    background-color: #eaeaea;
    border-radius: 10px;
    text-decoration-line: none;
}
   
                     /* inner card  */
.card__inner {
    margin-bottom: 10px;
    padding: 20px 17px;
    background-color: #f6f6f6;
    border-radius: 15px;
}    

.card__inner-list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.card__inner-textbox {
    max-width: 356px;
    width: 100%;
}

.card__inner-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
}

.card__inner-items:not(:last-child) {
    margin-bottom: 20px;
}

.card__inner-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}

.card__inner-text {
    margin: 0;
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 15px;
    color: #5e5f61;
    border-bottom: 1px solid #d2d2d2;
}

.card__inner-text:last-child {
    border: none;
    padding-bottom: 0;
}

.banner__img {
   border-radius: 15px;
}
   
                   /*   Footer section    */
.site-footer {
    padding: 40px 221px;
    background-color: #7297ef;
}

.site-footer__wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cecece;
}

.site-footer__textbox {
    margin-right: 203px;
}

.site-footer__text {
    margin: 0;
    font-size: 12px;
    line-height: 19px;
    color: #fff;
}

.site-footer__link-wrapper {
    margin-right: 150px;
    padding-top: 40px;
}

.site-footer__link {
    display: flex;
    margin-bottom: 20px;
    line-height: 19px;
    font-weight: 500;
    color: #fff;
    text-decoration-line: none;
}

.site-footer__main-wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.site-footer__main-link {
    margin-right: 662px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.site-footer__img:not(:last-child) {
    margin-right: 23px;
}

                         /* Second Page and Contacts section  */
.contacts-aside {
    padding-top: 40px;
    padding-bottom: 50px;
}

.contacts-card__heading {
    display: flex;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
}

.contacts__link {
    display: flex;
    font-weight: 500;
    line-height: 19px;
    color: #000;
    background-color: #eaeaea;
    border-radius: 10px;
    text-decoration: none;
    padding: 17px 343px;
}

   /*  Comment section  */

.comment__wrapper {
    display: flex;
}

.comment-middle__wrapper {
    margin-right: 10px;
    border-bottom: 1px solid #d2d2d2;
}

.comment__span {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.comment__word {
    font-family: "Rubik", 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #5e5f61;
    margin: 0;
    margin-left: 10px;
}

.comment__image {
   margin-bottom: 25px;
}

.comment__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

.comment__text {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin: 0;
    margin-bottom: 24px;
}

.comment__text:last-child {
    margin-bottom: 0;
    margin-bottom: 50px;
}

   /*  Interest section  */


.interest {
    padding-bottom: 100px;
}

.interest__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-top: 60px;
    margin-bottom: 20px;
}

.interest__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
}

.interest__items {
    width: 393px;
    margin-right: 10px;
    padding-top: 20px;
    padding-right: 18px;
    padding-bottom: 17px;
    padding-left: 17px;
    background-color: #f6f6f6;
    border-radius: 15px;
}

.interest__items:last-child {
    margin-right: 0;
}


.interest__heading {
    font-family: "Rubik", 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

.interest__text {
    margin-top: 0;
    font-family: "Rubik", sans-serif;
    line-height: 22px;
    color: #4a4b4c;
    margin-bottom: 20px;
}

.interest__span {
    display: flex;
    align-items: center;
}

.interest__strong {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #5e5f61;
}

                     /*  Page 4 and Hero section  */
.form-hero {
    padding-top: 60px;
    padding-bottom: 100px;
}     

.form-hero__heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
}

.form-hero__main-wrapper {
    display: flex;
}

.form-hero__mini {
    display: flex;
    align-items: center;
}

.form-hero__input {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-right: 150px;
    padding-bottom: 18px;
    padding-left: 20px;
    line-height: 19px;    
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0.5;
}

.form-hero__input-email {
    padding-right: 500px;
}

.form-hero__textarea {
    width: 696px;
    height: 180px;
    padding-top: 18px;
    padding-right: 632px;
    padding-bottom: 143px;
    padding-left: 20px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    resize: none;
}

.form-hero__btn {
    margin-top: 20px;
    padding: 17px 35px;
    line-height: 19px;
    font-weight: 500;
    color: #fff;
    background-color: #7297ef;
    border: none;
    border-radius: 10px;
    transform: translateX(560px);
}

.form-hero__list {
    width: 494px;
    margin: 0;
    padding: 40px 25px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.form-hero__items {
    padding-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #d2d2d2;
}

.wrapper__items:nth-child(3) {
    border-bottom: none;
}

.form-hero__title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
}

.form-hero__link {
    display: inline-block;
    line-height: 19px;
    color: #000;
    text-decoration-line: none;
}