
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Rubik";
    font-weight: 400;
    src: url('./fonts/rubik-v26-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/rubik-v26-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Rubik";
    font-weight: 500;
    src: url('./fonts/rubik-v26-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/rubik-v26-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
    box-sizing: border-box;
}

body {
   font-family: "Rubik", sans-serif;
   margin: 0;
   overflow-x: hidden;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

   /* Footer section  */

.site__header {
    padding-bottom: 60px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
}


.header__span {
    display: flex;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    line-height: 19px;
    color: #2959ce;
    margin-right: 25px;
}

.last {
    margin-right: 247px;
}

.usersearch {
    margin-right: 25px;
    padding-top: 15px;
    padding-right: auto;
    padding-bottom: 13px;
    padding-left: 41px;
    background-color: #fff;
    border-radius: 60px;
}

.image {
    margin-right: 25px;
}

.link {
    color: #fff;
    background-color: #7296EC;
    border-radius: 10px;
    padding: 13px 20px;
    text-decoration: none;
}

.header__list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    overflow: hidden;
    list-style: none;
}

.header__items {
    float: left;
}

.header__links {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7f7f7f;
    margin-right: 34.44px;
    text-decoration: none;
}

.header__links:nth-child(10) {
    margin-right: 0;
}

       /* Banner */

.banner {
    border-radius: 8px;
    padding-top: 0;
    padding-bottom: 50px;
}

         /*  Hero  */

.hero {
    padding-bottom: 60px;
}

.hero__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
}

.hero__items {
    width: 393px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px 18px 18px 17px;
    background-color: #f6f6f6;
    border-radius: 15px;
    border: 1px solid white;
}

.hero__items:nth-child(3) {
    margin-right: 0;
}

.hero__items:nth-child(6) {
    margin-right: 0;
    margin-bottom: 0;
}

.hero__items:nth-child(4) {
    margin-bottom: 0;
}

.hero__items:nth-child(5) {
    margin-bottom: 0;
}

.hero__titles {
    font-family: 'Rubik', "Arial" sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    color: #000;
}

.hero__text {
    font-family: "Rubik", "Arial" sans-serif;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #4a4b4c;
}

.inner__wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.logo {
    margin-right: 10px;
}

span {
    font-family: "Rubik", "Arial" sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #5e5f61;
}

     /*  Second asided  */

.second__aside {
    padding-bottom: 108px;
    padding-left: 120px;
}

    /*  Cards  */

.cards {
    padding-bottom: 100px;
}

.cards__wrapper {
    display: flex;
}

.mini-card__wrapper {
    margin-right: 10px;
}

.cards__title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    padding-bottom: 20px;
}

.card__list {
    list-style: none;
    margin: 0;
    margin-bottom: 17px;
    padding-left: 0;
    overflow: hidden;
}

.card__items {
    display: flex;
    width: 797px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 17px;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    border-radius: 15px;
}

.card__items:last-child {
    margin-bottom: 17px;
}

.third__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 15px;
}

.third__text {
    font-family: "Rubik", sans-serif;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 17px;
    margin-left: 15px;
    color: #4a4b4c;
}

.wrapper {
    margin-left: 15px;
}

.card__link {
    width: 796px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    line-height: 19px;
    color: #000;
    background-color: #eaeaea;
    border-radius: 10px;
    text-decoration: none;
    padding: 17px 343px;
}

strong {
    margin-left: 10px;
}
   
    /* inner card  */

.inner-card__list {
    list-style: none;
    padding-left: 0;
    background-color: #f6f6f6;
    border-radius: 15px;
    margin: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

.inner-card__heading {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 17px;
}

.inner-card__items {
    margin-bottom: 20px;
    padding-left: 17px;;
}

.inner-card__titles {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.inner-card__text {
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    line-height: 15px;
    color: #5e5f61;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
    margin: 0;
}

.last {
    border: none;
    padding-bottom: 0;
}

.foto > img {
   border-radius: 15px;
}
   
    /*  Footer  */

.site__footer {
    background-color: #7297ef;
    padding: 40px 221px;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cecece;
}

.footer-text__wrapper {
    margin-right: 203px;
}

.footer__text {
    font-family: 'Rubik', 'Helvetica' sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #fff;
    margin: 0;
}

.footer-information__wrapper {
      padding-top: 40px;
      margin-right: 150px;
}

.footer-information__link {
    display: flex;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    line-height: 19px;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
}


.footer-last__link {
    display: block;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-main__wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.footer-main__link {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    text-decoration: none;
    margin-right: 662px;
}

.footer-main__images {
    margin-right: 23px;
}

.youtube {
    margin-right: 0;
}

   /* Second Page  */
   /*  Contacts  */

.contacts__banner {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.contacts__title {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
}

.contacts__link {
    font-family: "Rubik", sans-serif;
    display: flex;
    font-weight: 500;
    line-height: 19px;
    color: #000;
    background-color: #eaeaea;
    border-radius: 10px;
    text-decoration: none;
    padding: 17px 343px;
}

   /*  Comment section  */

.comment__wrapper {
    display: flex;
}

.comment-middle__wrapper {
    margin-right: 10px;
    border-bottom: 1px solid #d2d2d2;
}

.comment__span {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.comment__word {
    font-family: "Rubik", 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #5e5f61;
    margin: 0;
    margin-left: 10px;
}

.comment__image {
   margin-bottom: 25px;
}

.comment__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

.comment__text {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin: 0;
    margin-bottom: 24px;
}

.comment__text:last-child {
    margin-bottom: 0;
    margin-bottom: 50px;
}

   /*  Interest section  */


.interest {
    padding-bottom: 100px;
}

.interest__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-top: 60px;
    margin-bottom: 20px;
}

.interest__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
}

.interest__items {
    width: 393px;
    margin-right: 10px;
    padding-top: 20px;
    padding-right: 18px;
    padding-bottom: 17px;
    padding-left: 17px;
    background-color: #f6f6f6;
    border-radius: 15px;
}

.interest__items:last-child {
    margin-right: 0;
}


.interest__heading {
    font-family: "Rubik", 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

.interest__text {
    margin-top: 0;
    font-family: "Rubik", sans-serif;
    line-height: 22px;
    color: #4a4b4c;
    margin-bottom: 20px;
}

.interest__span {
    display: flex;
    align-items: center;
}

.interest__strong {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #5e5f61;
}

     /*  Form section  */


.form__section {
    padding-bottom: 100px;
}     

.alone__title {
    font-family: 'Rubik' , sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

.double__wrapper {
    display: flex;
}

input {
    font-family: 'Rubik' , sans-serif;
    line-height: 19px;    
    color: #000000;
    opacity: 0.5;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
}

.essential {
    display: flex;
}

.username {
    width: 343px;
    height: 55px;
}

.userphone {
    width: 343px;
    height: 55px;
    padding-right: 194px;
}

.useremail {
    width: 696px;
    height: 55px;
    padding-right: 526px;
}

.textarea {
    width: 696px;
    height: 180px;
    padding-top: 18px;
    padding-right: 632px;
    padding-bottom: 143px;
    padding-left: 20px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    resize: none;
}

.site__button {
    display: flex;
    justify-content: center;
    padding-left: 550px;
}

.form__button {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 19px;
    color: #fff;
    padding: 17px 30px;
    background-color: #7297ef;
    border-radius: 10px;
    margin-top: 20px;
}


.wrapper__list {
    width: 494px;
    margin: 0;
    padding-top: 40px;
    margin-right: auto;
    padding-left: 25px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.wrapper__items {
    padding-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #d2d2d2;
}

.wrapper__items:nth-child(3) {
    border-bottom: none;
}

.wrapper__heading {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 7px;
}

.wrapper__link {
    display: block;
    font-family: 'Rubik', sans-serif;
    line-height: 19px;
    color: #000;
    text-decoration: none;
}